:host {
    display: flex;
    flex-grow: 1;
}
.project-wrapper {
    display: flex;
    flex-grow: 1;

    .project-card {
        display: flex;
        flex: 1 1 auto;
        overflow-y: auto;

        .content {
            height: 100%;

            .form {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }

        .actions {
            padding: 16px;
            display: flex;
            gap: 16px;
            justify-content: center;

            .close {
                background-color: #888888;
            }
        }
    }
}
